.site-footer {
	padding: 54px 0 23px;
	background-color: #f3f3f3;
	border: 1px solid #ebebeb;
}

.site-footer__inner {
	@include flex-starter;
	align-items: baseline;
	justify-content: space-between;
}

.site-footer-logo {
	display: inline-block;
	text-decoration: none;
}

.site-foter__list {
	@include list-styles;
	margin-bottom: 28px;
}

.site-footer__item + .site-footer__item {
	margin-top: 14px;
}

.site-footer__link {
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;
	transition: all 0.3s ease;

	&:hover {
		color: #ffbd54;
	}

	&:active {
		color: rgba(51, 51, 51, 0.7);
	}
}

.site-footer__time-wrapper {
	display: flex;
	flex-direction: column;
}

.footer-time-wrapper {
	padding-left: 21px;
}

.footer-time-wrapper--active {
	position: relative;

	&::before {
		position: absolute;
		top: 2px;
		bottom: 0;
		left: 0;
		width: 14px;
		height: 14px;
		background-image: url('../images/dom.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
}

.footer-weak {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

.footer-time {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

.site-footer__adres-wrapper {
	width: 100%;
	max-width: 177px;
	padding-top: 10px;
}

.footer-clinic-adres {
	position: relative;
	padding-left: 23px;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #333333;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 14px;
		height: 13px;
		background-image: url('../images/house.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
}

.site-footer__tel-wrapper {
	display: flex;
	flex-direction: column;
}

.footer-tel {
	padding-left: 22px;
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	text-decoration: none;
}

.footer-tel--active {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 13px;
		height: 13px;
		background-image: url('../images/phone.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
}

.site-footer__span {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: right;
	color: #5c5c5c;
}
